@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 1024px) {
  .lg\:w-full {
    width: 100%;
  }
}





/* .drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-form {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px; 
}

.buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 45%;
  background: rgb(226, 0, 0);
  padding: 0.5rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
} */
