.admin-heading2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

.heading-text {
  font-size: 0.9rem;
  margin: 0;
  padding-block: 0.5rem;
  border-bottom: 1px dashed #656565;
}

.button-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.button-grid svg {
  color: #001aff;
}

.button-grid > a {
  color: inherit;
  padding: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 5px;
}

.button-grid > a:hover,
.button-grid > a:active {
  background-color: #e8e8e8;
}